{
  "targetExtentions": [ ".pdf", ".zip", ".cbz" ],
  "contentDirectory" : { "alias-name": "/path/to/contents/directory" },
  "viewers": {
    ".pdf": "/Applications/Preview.app",
    ".zip": "/Applications/to/viewer",
    ".cbz": "/Applications/to/viewer"
  },
  "cacheDirectory": "/path/to/cache/directory"
}
