body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inline-icon {
    display: inline;
    height: 1.1em;
    vertical-align: text-bottom;
}

.alert-info {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-error {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-critical {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

#root-wrap {
    display: flex;
    flex-direction: row;
}

#root-wrap .Sidebar {
    flex: 0 1 0px;
}

#root-wrap .ThumbnailGrid {
    flex: 1 1;
}
